.btn:hover {
	border-color: black;
	box-shadow: none;
}

.btn-fill {
	background-color: rgb(17, 197, 198);
	color: white;
	/*font-weight: bold;*/
}

.btn-fill:hover {
	color: rgb(17, 197, 198);
	background-color: white;
	border-color: rgb(17, 197, 198);
	/*font-weight: bold;*/
}

.header {
	-webkit-box-shadow:0px 2px 2px #f2f2f2;
	-moz-box-shadow:0px 2px 2px #f2f2f2;
	box-shadow:0px 2px 2px #f2f2f2;
}

nav {
	margin: 0 20px 0 20px;
	border-bottom-color: grey;
}

nav li {
	margin: 0 10px 0 10px;
}

.banner {
	margin-top: 50px;
	background-color: rgb(17, 197, 198);
	border-radius: 7px;
	background-image: linear-gradient(to right, rgb(122, 243, 243), rgb(17, 197, 198), rgb(122, 243, 243), rgb(17, 197, 198));
	height: 200px;
}

.banner-content, .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.products {
	margin-top: 40px;
	margin-bottom: 60px;
}

.card-body {
	height: 350px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px; /* Set the fixed height of the footer here */
	line-height: 50px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

th {
	text-align: center;
}

.edit-profile {
	padding: 30px;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
}