body {
	background-color: #e3dddc;
	font-family: Trebuchet MS, sans-serif;
}

.container {
	width: 50%;
	margin: auto;
	background-color: white;
	padding: 2%;
}

.right-div {
	width: 50%;
	float: right;
	text-align: right;
}

.left-div {
	width: 50%;
	float: left;
}

.question {
	margin: 10px 5px 10px 5px;
}

.option {
	margin: 5px;
}

button {
	color: white;
	background-color: #0f6d75;
	border-radius: 30px;
	width: 150px;
	padding: 10px;
	border: 1px solid white;
}

h2 {
	margin: 10px 0px 30px 0px;
}

hr {
	margin: 20px 0px 20px 0px;
}