body {
	font-family: Noto Sans, sans-serif;
	margin: 0;
	padding-bottom: 20px;
	background-color: #ebf0f0;
}

nav {
	background-color: #3f4042;
	padding: 15px;
	margin: 0;
}

.navbar-link {
	text-decoration: none;
	color: white;
	padding: 16px;
}

.navbar-link:hover {
	background-color: white;
	color: #3f4042;
}

.active {
	background-color: #a0e0e8;
	color: black;
}

img {
	padding: 50px;
}

.left-div {
	float: left;
	width: 50%;
	background-color: #cce3e6;
	text-align: center;
	height: 200px;
}

.right-div {
	float: right;
	width: 50%;
	text-align: justify;
	background-color: #a0e0e8;
	height: 200px;
}

iframe {
	margin: 30px;
	text-align: center;
}

.content {
	text-align: center;
}

td {
	padding: 10px;
}

button {
	width: 200px;
	height: 40px;
	border: 2px solid #a0e0e8;
	background-color: #a0e0e8;
}

table.table {
	border-collapse: collapse;
}

table.table td {
	border: 1px solid black;
	padding: 30px;
}