.vr {
    border-left: 1px solid black;
    height: 140px;
    margin: 0 10px 0 10px;
}

.card {
    margin-bottom: 20px;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    align-items: center;
}

.post-user {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

.flex {
    display: flex;
}

.post-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
}

.post-image-detail {
    width: 100%;
    max-height: 500px;
    height: 500px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: white;
}

.post-caption {
    padding-left: 5px;
    font-size: 15px;
}

.avatar-profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    align-items: center;
}

.post-image-profile {
    width: 100%;
    max-height: 300px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: white;
}
