.vr {
    border-left: 1px solid black;
    height: 140px;
    margin: 0 10px 0 10px;
}

.card {
    margin-bottom: 20px;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
}

.post-user {
    font-size: 16px;
    font-weight: bold;
}

.post-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
}

.post-user {
    font-size: 14px;
}
